<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
{% block body %}
    <h1>Adopt A Pet!</h1>
    <form action="/add">
        <button type="submit">Add a Pet!</button>
    </form>
    <ul>
        {% for pet in pets %}
        <h1>{{ pet.name }}</h1>
        <img src="{{ pet.photo_url }}">
        <div>
            {{ pet.name }} is {% if pet.available %} available {% else %} not available! {% endif %}
        </div>
        <div>
            <a href="/{{ pet.id }}">Click here for more info on {{ pet.name }}!</a>
        </div>
        {% endfor %}
    </ul>
{% endblock %}
</html>